<meta charset="UTF-8">
<div align='center'>
<h1>Seja bem-vindo ao site de divulgação dos projetos de pesquisa de Linguística Aplicada</h1>
<br><br>
<p> Descrição </p>
<br><br>
<p>Este grupo é certificado pelo cnpq</p>
<br><br>
</div>
<!--<p>Find me in app/views/home/index.html.erb</p>-->

<div align='center'> 

<a href="/pesquisadores">Pesquisadores</a>
<a href="/tematicas">Tematica</a>
<a href="/projetos">Projetos</a>
<a href="/fotos">Fotos</a>
<a href="/outros_trabalhos">Outros Trabalhos</a>

</div>